/* Добавила этот файл чисто для необходимых стилей по заданию, ничего не обнуляла и пр.*/

.bold_words {
  font-weight: bold;
}
.italic_words {
  font-style: italic;
}
.strikethrough_words {
  text-decoration-line: line-through;
}
.figure_pict {
  width: 30rem;
}
table {
  border-spacing: 0;
  border-top: 1px solid black;
  border-left: 1px solid black;;
}
th,
td {
  padding: 5px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
.table_footer {
  text-align: center;
  font-weight: bold;
}
